[Unit]
Description=Ag nobetcisini dakikada bir calistir

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=10s

[Install]
WantedBy=timers.target
